#store {
  height: 400px;
  width: 400px;
  margin-top: 20px;

  border: 5px solid pink;
  border-radius: 5px;
  background-color: #ADD8E6;

  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -25%;

  overflow: visible;

  transition: all .3s ease-in-out;
}

#store.hidden {
  bottom: -410px;
}

#store-toggle {
  position: absolute;
  display: block;
  right: 0;
  top: -28px;
  border: 5px solid pink;
  background-color: #ADD8E6;

  cursor: pointer;
}

.storeitem {
  height: 100px;
  width: 100px;
  /* border: 5px solid blue; */
  box-shadow: 0px 0px 0px 5px rgba(63,63,191,0.8);
  /* The fourth parameter of rgba above represents opacity */
  position: absolute;
  border-radius: 10px;
  margin-top: -5px;
}

#item1 {
  float: left;
  left: 10px;
  /* doubled margins with inclusion of box-shadow */
}

#item2 {
  clear:both;
  right: 10px;
  background-color: blue;
}

#item3 {
  /* this is actually the middle item, original margin 150px */
  float: right;
  right: 150px;
  background-color: pink;
}

h5 {
  text-align: center;
  font-family: Cambria;
  font-size: 20px;

}

.filterbutton {
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 75px;
  width: 75px;
  border: 5px solid red;
  border-radius: 5px;
  background-color: #C86C6C;
}

#class {
  position: absolute;
  overflow: hidden;
}

#level {
  left: 95px;
}

#cost {
  left: 185px;

}

h6 {
  position: absolute;
  bottom: 70px;
  left: 5px;
  font-family: Cambria;
  font-size: 15px;
}
p {

}
img {
  margin-top: 10px;
  margin-left: 10px;
  width: 54px;
  height: 50px;
}

#levelfilter {
  font-family: Cambria;
  font-size: 20px;
  margin-left: 25px;

}

.storeimg{
  margin-top: 0px;
  margin-left: 0px;
  width: 100px;
  height: 100px;
  border-radius: 10px;

}

.quickinfo {
  margin-top: 125px;
  height: 20px;
  width: 20px;
}
.classsprite {
  height: 20px;
  width: 20px;
  padding-top: 5px;
}
li {
  position: absolute;
}

#levelquickinfo {
  font-family: Cambria;
  font-size: 15px;
  margin-top: -5px;
  margin-left: 35px;
}

#currencyquickinfo {
  margin-top: -20px;
  margin-left: 70px;
  height: 40px;
  font-size: 15px;
  font-family: Cambria;
}

/*
#currencysprite {
  height: 20px;
  width: 20px;
  margin-left: 30px;

}
come back to this later */

#syriesbow {
  margin-left: 15px;

}

#balance {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-family: Cambria;
}

#box1name {
  position: absolute;
  left: 5px;
  top: 40px;

}

#box3name {
  position: absolute;
  left: 140px;
  top: 40px;
}

#box2name {
  position: absolute;
  left: 285px;
  top: 40px;

}

#classsprite {
  height: 20px;
  width: 20px;
  top: 185px;
  left: 135px;
  position: absolute;
}

#levelquickinfo3 {
  font-family: Cambria;
  font-size: 15px;
  position: absolute;
  top: 70px;
  left: 170px;
}

#currencyquickinfo3 {

  top: 70px;
  left: 135px;
  margin-left: 70px;
  height: 40px;
  font-size: 15px;
  font-family: Cambria;
  position: absolute;

}

#classsprite2 {
  height: 20px;
  width: 20px;
  top: 185px;
  left: 275px;
  position: absolute;
}

#levelquickinfo2 {
  font-family: Cambria;
  font-size: 15px;
  position: absolute;
  top: 70px;
  left: 310px;

}

#currencyquickinfo2 {

  top: 70px;
  left: 275px;
  margin-left: 70px;
  height: 40px;
  font-size: 15px;
  font-family: Cambria;
  position: absolute;
}

#buyitem1 {
  font-family: Cambria;
  font-size: 15px;
  margin-right: 100px;
  margin-left: 15px;
  margin-top: -290px;
  position: absolute;
}

#sellitem1 {
  font-family: Cambria;
  font-size: 15px;
  margin-right: 100px;
  margin-left: 25px;
  margin-top: -290px;
  position: absolute;
}
#buyitem2 {
  font-family: Cambria;
  font-size: 15px;
  margin-right: 100px;
  margin-left: 150px;
  margin-top: -290px;
  position: absolute;
}
#sellitem2 {
  font-family: Cambria;
  font-size: 15px;
  margin-right: 100px;
  margin-left: 160px;
  margin-top: -290px;
  position: absolute;
}
#buyitem3 {
}
/*

.items {
  border-width: 2px;
  background-color: yellow;
  border-style: solid;
  border-color: black;
  margin-left: 20px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  text-align: center;
}



h5 {
  text-align: center;
  position: relative;
}


#shopbutton {
  margin-left: 20px;

}

.itemtitle {
  text-align: center;

}

#swordDescription {
  position: relative;
  display: inline-block;
}

*/
