#server__info {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(63, 111, 125, 0.5);
  color: #eee;
}

#server__info .server__info__status--online {
  color: #2d9f2d;
}

#server__info .server__info__status--offline {
  color: #f58181;
}

#server__info .disabled {
  display: none;
}
