.overlays__welcome {
  margin: 0 auto;
  padding: 10px 15px;
  width: 80%;
  height: 50%;
  min-height: 200px;

  border-radius: 2px;

  background-color: #EEE;
  opacity: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  transform: translateY(-102%);
  transition: transform .5s cubic-bezier(0, 0, 0.3, 1),
              opacity .5s cubic-bezier(0, 0, 0.3, 1);
  transition-delay: .1s;
}

.overlays__welcome.visible {
  transform: translateY(25%);
  opacity: 1;
}

.overlays__welcome .overlays__welcome__title {
  text-align: center;
}

.overlays__welcome .input__element__text {
  padding: 0 0 8px;
  font-size: 16px;
  height: 24px;
  width: 200px;

  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
}

.overlays__welcome .input__element__message {
  flex: 1;
  margin-top: 5px;
  display: none;
}

.overlays__welcome .input__element__message.active {
  display: inline-block;
}

.overlays__welcome .input__element__message--error {
  color: #c73838;
}

.overlays__welcome .input__element__button {
  padding: 12px 16px;
  margin: 0px;

  border: none;
  border-radius: 3px;

  background: rgb(201, 213, 228);
  box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.4);
  color: #222;
  outline: none;

  font-size: 13px;
  font-weight: 500;

  transition: box-shadow .3s, background .3s;
}

.overlays__welcome .input__element__button:active,
.overlays__welcome .input__element__button:focus {
  background-color: rgb(153, 176, 204);
}

.overlays__welcome .input__element__button:active {
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
}
